@using FeedbackToolDissertation.Data
@using FeedbackToolDissertation.Data.FeedbackToolDissertation
@inject ModuleService ModuleService
@inject ACWService ACWService
@inject CriteriaService CriteriaService
@inject SectionService SectionService
@inject FeedbackService FeedbackService

@page "/Grading"

<h3>Grading</h3>

<div> class="fileinsert"
<InputFile OnChange="@LoadFiles" />
</div>
<br />
<form method="post">
    <label> Student </label>
    <input type="text" id="snumber" placeholder="Student Number" name="snumber">
    <br />
    <label> Module</label>

    <select @onchange="@OnSelectModule">
        @if (moduleList == null)
        {
            <p><em>Loading....</em></p>
             selectedModule = "zzz";

        }
        else
        {
            <option value="" selected hidden>Select your Module</option>
            @foreach (var module in moduleList)
            {
                <option value = "@module.ModuleName">@module.ModuleName</option>
            }

        }
    </select>

    <br />
    <label> ACW</label>
    <select @onchange="@OnSelectACW">
         
        @if (acw == null)
        {
            <p><em>Loading....</em></p>
            selectedACW = "zzz";
        }
        else
        {
            <option value="" selected hidden>Select your ACW</option>
            @foreach (var acwrecord in acw)
            {
                @if (acw.Any(o => o.ModuleName.Contains(selectedModule)))
                {
                    <option value="@acwrecord.AcwName">@acwrecord.AcwName</option>
                }
            }
    }
    </select>
    <br />
    <br />
     
    <h3> Feedback </h3>
    @*Section 1*@
    <br />

    @*section*@
    <h1>Section 1</h1>
    <select id="section1" name="section1" @onchange="@OnSelectSection">
        @if (sections == null)
        {
            <p><em>Loading....</em></p>
            selectedSection1 = "zzz";

        }
        else
        {
            <option value="" selected hidden>Select your Sections</option>
            @foreach (var sectionrecord in sections)
            {
                @if (sections.Any(o => o.Acwname.Contains(selectedACW)) && sections.Any(o => o.ModuleName.Contains(selectedModule)))
                {
                    <option value="@sectionrecord.SectionName">@sectionrecord.SectionName</option>
                }
            }
        }
    }
    </select>
    <br />
    <br />

    @*Criteria*@
    <select id="criteria" name="criteria" @onchange = "@OnSelectCriteria">
        @if (criteria == null)
        {
            <p><em>Loading....</em></p>
            selectedCriteria1 = "zzz";
        }
        else
        {
            <option value="" selected hidden>Select your Criteria</option>
            @foreach (var criteriarecord in criteria)
            {
                @if (criteria.Any(o => o.Acwname.Contains(selectedACW)) && criteria.Any(o => o.ModuleName.Contains(selectedModule)))
                {
                   <option value="@criteriarecord.Criteria1">@criteriarecord.Criteria1</option>
                }
            }
        }
    }
    </select>
    <br />
    <br />


    @*Feedback*@
    <select id="feedback" name="feedback">
        @if (feedback == null)
        {
            <p><em>Loading....</em></p>
        }
        else
        {            
            <option value=""  selected hidden>Select your Feedback</option>
            @foreach (var feedbackrecord in feedback)
            {
                @if (feedback.Any(o => o.Acwname.Contains(selectedACW)) && feedback.Any(o => o.ModuleName.Contains(selectedModule)))
                {
                   <option value="@feedbackrecord.Feedback1">@feedbackrecord.Feedback1</option>

                }
            }
        }
    </select>
    <br />
    <br />


    <button type="submit" class="btn btn-primary">Export</button>

</form>




@code {
    // AuthenticationState is available as a CascadingParameter
    [CascadingParameter]

    Task<AuthenticationState> authenticationStateTask { get; set; }

    List<Modules> moduleList;
    List<Feedback> feedback;
    List<Criteria> criteria;
    List<Sections> sections;
    List<Acw> acw;

    string selectedModule;
    string selectedACW;
    string selectedSection1;
    string selectedCriteria1;

    protected
    override
    async Task OnInitializedAsync()
    {

        // Get the current user
        var user = (await authenticationStateTask).User;
        moduleList = await ModuleService.GetModulesAsync(user.Identity.Name);
        feedback = await FeedbackService.GetFeedbacksAsync(user.Identity.Name);
        criteria = await CriteriaService.GetCriteriasAsync(user.Identity.Name);
        sections = await SectionService.GetSectionsAsync(user.Identity.Name);
        acw = await ACWService.GetAcwsAsync(user.Identity.Name);
    }


    private void LoadFiles(InputFileChangeEventArgs e)
    {

    }

    public void OnSelectModule(ChangeEventArgs e)
    {
        selectedModule = e.Value.ToString();

    }

    public void OnSelectACW(ChangeEventArgs e)
    {
        selectedACW = e.Value.ToString();
    }

    public void OnSelectSection(ChangeEventArgs e)
    {
        selectedSection1 = e.Value.ToString();
    }

    public void OnSelectCriteria(ChangeEventArgs e)
    {
        selectedCriteria1 = e.Value.ToString();
    }




}
